
.App {
  margin-top: 15px;
  .navbar-brand {
    font-weight: bold;
  }
}

.dev-marker {
  // background-color: rgb(255, 166, 0);
  background: repeating-linear-gradient(45deg,
  #ffa600,
  #ffa600 20px,
  #000 20px,
  #000 40px
  );
  height: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.dev-title {
  margin: 0 0 5px 0;
  text-align: center;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
